@media (max-width: 750px) {
    html, body {
        margin: 0; 
        padding: 0; 
        width: 100%;
       
      }
      
    .container {
        width: 100%;
        height: max-content; 
        padding: 0;
        margin: 0;
        background-color: #ffb703;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: small;
    }
     .nova-secao {
        width: 100%;
        background-color: #2a9d8f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .items-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     
    .image-container {
        width: 150px; 
        height: 150px;
        margin-top: 20px; 
    }

    h1 {
        width: max-content;
        margin-top: 20px; 
        font-size: 15px; 
    }
    h2{
        width: max-content;
        font-size: 20px;   
    }
    p{
        font-size: 15px;
    }
  
    .list-header{
        width: 100%;
        font-size: 15px;
    }
    .myself {
        width: 200px; 
        height: 200px;
        image-rendering: pixelated;
    }

    .image-newSection {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
     }
     
     .skill-me {
         width: 100px; 
         height: 100px;
         image-rendering: pixelated;
     }

     .image-skill{
        width: 30px;
        height: 30px;
        
     }
     
     .skill-description{
        width: 90%;
     }
     .newSection-description{
        width: 90%;
        font-size: 15px;
        color: #fff;
    }
     
 
}

